/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F8F3E6;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.container {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    padding: 20px;
    place-items: center;
    
}
.content{
    width: 80%;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #444444;
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
}

.table th {
    background-color: #444444;
    color: #ffffff;
}

.table tr:hover {
    background-color: #f1f1f1;
}

/* Form */
.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form input, .form textarea, .form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form input:focus, .form textarea:focus, .form select:focus {
    border-color: #444444;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.submitform {
    background-color: #444444;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.submitform:hover {
    background-color: #0056b3;
}

/* Flash Messages */
.flash {
    background-color: #d4edda;
    width: 30%;
    color: #155724;
    margin: auto;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 1rem;
}

/* Error Messages */
.errors {
    color: #d9534f;
    background-color: #f8d7da;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 1rem;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f9;
    color: #666;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
}
a{
    text-decoration: none;
}

.logo{
    width: 150px;
    height: 70px;
    
}